#div1{
    margin: auto;
    text-align: center;
    border: 3px black dotted;
    font-size: auto;
    background-color: cadetblue;
    height: auto;
    width: auto; 
    position: relative; 
}
#div3{
    margin: auto;
    margin-top: 10px; 
    text-align: center;
    border: 3px black dotted;
    font-size: auto;
    background-color: rgb(211, 22, 22);
    height: auto;
    width: auto; 
    position: relative; 
}